/* NAVIGATION STUFF GOES HERE  */
#theButton {
    display: none;
}
#theNav {
    grid-template-rows: 1fr;
}
#theNav ul, #theNav ul.open {
    display: flex;
    li a {
        padding: .4rem 1rem;
        border: none;
    }
    a:hover {
        text-decoration: underline;
    }
}//end ul

#navWrapper {
    border-bottom: 1px solid $greyColor;

}

header a {
    font-size: x-large;
}
.carHero p {
    font-size: 2.5rem;
}